<!DOCTYPE html>
<html>
    <title>Your wellness tool</title>
    <div style="margin-top: 30px;margin-bottom: 30px;margin-left: 20px;margin-right: 15px;">
        <div>
            <div class="row">
        
                <div class="col-md-3"><img src="..\assets\img\welldo_color.svg" alt="wellness_do"></div>
                <div class="col-md-3"><h2><img src="..\assets\img\project_list_line.svg" style="padding:30px">projectlist</h2></div>
                <div class="col-md-6"></div>
        </div>
        <div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 well">
            <table class="table table-scroll table-striped">
                <thead style="color: dodgerblue;width: fixed;">
                    <tr>
                        <th>s.no<img src="../assets/img/sort_button.svg"></th>
                        <th>project name<img src="../assets/img/sort_button.svg"></th>
                        <th>created date<img src="../assets/img/sort_button.svg"></th>
                        <th>buildup area<img src="../assets/img/sort_button.svg"></th>
                        <th>city-country<img src="../assets/img/sort_button.svg"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 </td>
                        <td>123</td>
                        <td> 24 dec 2021</td>
                        <td> 1,000 sq.ft</td>
                        <td> canberra-australia</td>
                        <td><img src="../assets/img/edit_button.svg"></td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td> CW Test</td>
                        <td> 22 Dec 2021</td>
                        <td> 20,000 Sq.ft</td>
                        <td>Amudalavalasa - India </td>
                        <td><img src="../assets/img/edit_button.svg"></td>
                        
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td> CW V4 ID+C</td>
                        <td> 28 Dec 2021</td>
                        <td> 25,000 Sq.ft</td>
                        <td> Drug - India</td>
                        <td><img src="../assets/img/edit_button.svg"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td> CW V4.1 O+M</td>
                        <td> 28 Dec 2021</td>
                        <td> 30,000 Sq.ft</td>
                        <td> Aizawl - India</td>
                        <td><img src="../assets/img/edit_button.svg"></td>
                    </tr>
                    <tr>
                        <td> 5</td>
                        <td>Core 1.5 L </td>
                        <td> 18 Nov 2021</td>
                        <td> 150,000 Sq.ft</td>
                        <td> Sirsilla - India </td>
                        <td><img src="../assets/img/edit_button.svg"></td>
                    </tr>
                            <tr>
                                <td> 6</td>
                                <td> Core 10L</td>
                                <td> 18 Nov 2021</td>
                                <td> 1,000,000 Sq.ft</td>
                                <td> Kothapet - India
                                </td>
                                <td><img src="../assets/img/edit_button.svg"></td>
                            </tr>
                            <tr>
                                <td> 7</td>
                                <td> Core 5 L</td>
                                <td> 18 Nov 2021</td>
                                <td> 500,000 Sq.ft</td>
                                <td> Ludhiana - India</td>
                                <td><img src="../assets/img/edit_button.svg"></td>
                            </tr>
                    <tr>
                        <td> 8</td>
                        <td> Core 5L</td>
                        <td> 29 Nov 2021</td>
                        <td> 500,000 Sq.ft</td>
                        <td> Agartala - India</td>
                        <td><img src="../assets/img/edit_button.svg"></td>
                    </tr>
                    <tr>
                        <td> 9</td>
                        <td> Crosswalk As built & design case V1</td>
                        <td>07 Jan 2022 </td>
                        <td> 100,000 Sq.ft</td>
                        <td> Khed - India</td>
                        <td><img src="../assets/img/edit_button.svg"></td>
                    </tr>
                    <tr>
                        <td> 10</td>
                        <td>Crosswalk BREAM 2015 </td>
                        <td> 05 Jan 2022</td>
                        <td> 50,000 Sq.ft</td>
                        <td> Gauripur - India</td>
                        <td><img src="../assets/img/edit_button.svg"></td>
                    </tr>
                    <tr>
                        <td> 11</td>
                        <td> Crosswalk BREEAM</td>
                        <td> 29 Dec 2021</td>
                        <td> 100,000 Sq.ft</td>
                        <td> Kulgam - India</td>
                        <td><img src="../assets/img/edit_button.svg"></td>
                    </tr>
                    <tr>
                        <td> 12</td>
                        <td> Crosswalk BREEAM Int New 2016</td>
                        <td> 31 Dec 2021</td>
                        <td>10,000 Sq.ft </td>
                        <td>Chittoor - India </td>
                        <td><img src="../assets/img/edit_button.svg"></td>
            
                    </tr>
                    <tr>
                        <td> 13</td>
                        <td> Crosswalk Green star interior V1</td>
                        <td> 05 Jan 2022</td>
                        <td> 100,000 Sq.ft</td>
                        <td> Jodhpur - India</td>
                        <td><img src="../assets/img/edit_button.svg"></td>
                    </tr>
                    <tr>
                        <td> 14</td>
                        <td> Crosswalk In-use International V6.0</td>
                        <td> 05 Jan 2022</td>
                        <td> 50,000 Sq.ft</td>
                        <td> Gadwal - India</td>
                        <td><img src="../assets/img/edit_button.svg"></td>
                    </tr>
                    <tr>
                        <td> 15</td>
                        <td> Crosswalk Naber</td>
                        <td> 12 Jan 2022</td>
                        <td> 10,000 Sq.ft</td>
                        <td> Delhi - India</td>
                        <td><img src="../assets/img/edit_button.svg"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>

</html>
